@CHARSET "UTF-8";

a:link, a:visited {text-decoration: none; color: #656565;}

.board_list {width:1000px;border-top:2px solid #252525;border-bottom:1px solid #ccc;text-align:right;margin:auto;}
.board_list thead th:first-child{background-image:none}
.board_list thead th {border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a;vertical-align:middle;text-align:center;}
.board_list tbody td {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.board_list tbody tr:first-child td {border:none}
.board_list tbody td.title {text-align:left; padding-left:20px}
.board_list tbody td a {display:inline-block}

.board_view {width:50%;border-top:2px solid #252525;border-bottom:1px solid #ccc;}
.board_view tbody th {text-align:left;background:#f7f7f7;color:#3b3a3a}
.board_view tbody th.list_tit {font-size:13px;color:#000;letter-spacing:0.1px}
.board_view tbody .no_line_b th, .board_view tbody .no_line_b td {border-bottom:none}
.board_view tbody th, .board_view tbody td {padding:15px 0 16px 16px;border-bottom:1px solid #ccc}
.board_view tbody td.view_text {border-top:1px solid #ccc; border-bottom:1px solid #ccc;padding:45px 18px 45px 18px}
.board_view tbody th.th_file {padding:0 0 0 15px; vertical-align:middle}

.wdp_90 {width:90%}
.btn {border-radius:3px;padding:5px 11px;color:#fff !important; display:inline-block; background-color:#6b9ab8; border:1px solid #56819d;vertical-align:middle;}
.pad_5 {padding: 5px;}

p {text-align:right;width:1000px;margin:auto;}
h2 {text-align: center;}
.frm {text-align:right;width:1000px;margin:auto;}
.board_view {text-align:right;width:50%;margin:auto;}

.pageNumber {text-align:center;width:1000px;margin:auto;}
/* .more { */
/*   display:block; */
/*   width: 55px; */
/*   height: 16px; */
/*   background-image:url('https://s.pstatic.net/static/www/img/2017/sp_nav_v170523.png'); */
/*   background-position: 0 -78px; */
/* } */

/* .blind { */
/*   position: absolute; */
/*   overflow: hidden; */
/*   clip: rect(0 0 0 0); */
/*   margin: -1px; */
/*   width: 1px; */
/*   height: 1px; */
/* } */

/* .more:hover, .close:hover { */
/*   cursor:pointer; */
/* } */

/* .close { */
/*   display:block; */
/*   background-image:url('https://s.pstatic.net/static/www/img/2017/sp_nav_v170523.png'); */
/*   width: 42px; */
/*   height: 16px; */
/*   background-position: -166px -78px; */
/* } */

/* .board { */
/*   font-family:'돋움'; */
/*   font-size:13px; */
/*   position:absolute; */
/*   top:30px; */
/*   width:410px; */
/*   height:135px; */
/*   background:pink; */
/*   visibility:hidden; */
/* } */

/* .list { */
/*   float:left; */
/* } */

/* .list li { */
/*   list-style:none; */
/*   margin-top:5px; */
/* } */

/* .list li:hover { */
/*   text-decoration:underline; */
/*   cursor:pointer; */
/* } */